.container {
    display: flex;
    justify-content: center;
    background-color: lightgray;
}

.flex-item {
    flex-basis: 50px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

#ok {
    background-color: skyblue;
    color: black;
    border: 2px solid blue;
}

#cancel {
    background-color: orange;
    color: black;
    border: 2px solid red;
}

#hi {
    background-color: rgb(249, 204, 187);
    color: black;
    border: 2px solid rgb(249, 198, 198);
}